.header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;

}
.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name h2{
    margin-right: 5%;
}