.container{
    background-color:#758283;
    height: 200vh;
    overflow-y:scroll;
    color: white;
}

.header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;

}

.field{
    margin: 8% 0%;
}

.value{
    border: 1px solid #6A1B4D;
    border-radius: 5px;
    overflow-x: scroll;

}

a{
    color: white;
}
